<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Redirecting</title>
  <noscript>
    <meta http-equiv="refresh" content="1; url=../../../1.0.5/partials/orchestrator_known_issues/" />
  </noscript>
  <script>
    window.location.replace("../../../1.0.5/partials/orchestrator_known_issues/" + window.location.hash);
  </script>
</head>
<body>
  Redirecting to <a href="../../../1.0.5/partials/orchestrator_known_issues/">../../../1.0.5/partials/orchestrator_known_issues/</a>...
</body>
</html>